body {
  font-size: 1.4em;
  line-height: 1.5em;

  background: url(/img/bg.jpeg);
  
  font-family: "Palatino Linotype","Book Antiqua",Palatino,FreeSerif,serif;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 60);
  
  padding-top: 4em;
}

img.logo {
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
}

h1, h2, h3 {
  font-family: "OpenSansBold", "Helvetica Neue", sans-serif;
  margin-top: 0.7em;
  margin-bottom: 0.4em;
}

h1 small {
  margin-top: 0.7em;
  display: block;
}

p {
  margin-top: 0.7em;
}

p.teaser {
  font-style: italic;
}

li {
  margin-top: 0.7em;
}

footer {
  margin-top: 3em;
  margin-bottom: 2em;
}

footer span {
  display: block;
  text-align: center;
}

#okf-logo {

}

