<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
  <title>{{page.title}} - {{site.title}}</title>
  <link rel="stylesheet" type="text/css" href="http://assets.openspending.org/branding/fonts/opensans/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div class="container">
    <div class="placeholder">
      <h1>
        <img src="/img/tent.png">
        {{page.title}}</h1>
      {{content}}
    </div>
    <footer>
      <span><a id='okf-logo' href="http://okfn.org"><img src="/img/okf.png"></a></span>
    </footer>
  </div>
</body>
</html>
